@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.2px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: radial-gradient(ellipse at bottom, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 700px;
    text-align: left;
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 32%;
    margin-bottom: 20px; /* Increase space between fields */
}

.form-group.full-width {
    width: 100%;
}

label {
    margin-top: 10px;
    color: #dddddd;
}

input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    color: #ffffff;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    transition: box-shadow .5s ease;
    width: 100%;
}

input[type="number"]:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type="submit"] {
    background-color: #4a77d4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: background-position 0.1s linear;
    width: 20%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}
